<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
</head>
<body>

<h3>Список автомобилей</h3>
<div>


    <table border="1">
        <tr>
            <th>ID</th>
            <th>Model</th>
            <th>Series</th>
        </tr>
        <tr th:each="car : ${cars}">
            <td th:utext="${car.getId()}">...</td>
            <td th:utext="${car.getModel()}">...</td>
            <td th:utext="${car.getSeries()}">...</td>
        </tr>
    </table>


    <!--  <th:block th:each="car : ${cars}">-->
    <!--    <h1 th:text="${car}"></h1>-->
    <!--  </th:block>-->
</div>
</body>
</html>